.normalButton {
  padding: 2px;
  margin: 3.75px;
  height:60px;
  width:60px;
  font-size: 15px;
}

.equalButton {
  padding: 2px;
  margin: 3.75px;
  height:60px;
  width:127.5px;
  font-size: 15px;
}
